<section class="card !px-0 sm:!px-[2rem] antialiased min-h-[85vh]  ">
  <div class="mx-auto  px-4 2xl:px-0">
    <h2 class="text-xl font-semibold text-gray-900 dark:text-white ">Package Cart</h2>

    <div class="mt-6  sm:mt-8 md:gap-6 xl:flex xl:items-start xl:gap-8">
      <div class="mx-auto flex-1 w-full ">
        <div class="space-y-6">
           <ng-container *ngIf="products().length;else emptyTemplate">
          <div *ngFor="let product of products();let index = index" class="rounded-lg border border-gray-200 bg-surface-100 p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6">
            <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">
              <a href="#" class="shrink-0 md:order-1">
                <img class=" h-20 w-20 dark:block" [src]="product.img" [alt]="product.name" />
              </a>

              <label for="counter-input" class="sr-only">Choose quantity:</label>
              <div class="flex  items-center my-5 md:my-0 justify-between md:order-3 md:justify-end">
                <p-inputnumber class="md:order-3 scale-[.9]" [ngModel]="product.amount()" [min]="1" (ngModelChange)="product.amount.set($event)"  [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" inputId="horizontal" [inputStyle]="{ width: '3rem' }">
                    <ng-template #incrementbuttonicon>
                        <span class="pi pi-plus"></span>
                    </ng-template>
                    <ng-template #decrementbuttonicon>
                        <span class="pi pi-minus"></span>
                    </ng-template>
                    
                </p-inputnumber>

                <div class="text-end md:order-4 md:w-32">
                  <p class="text-base font-bold text-gray-900 dark:text-white"> {{product.price}} <span class="font-normal text-xs dark:text-gray-400
                    "> EGP </span></p>
                </div>
              </div>

              <div class="w-full flex-1 min-w-0 flex-1 space-y-4 md:order-2 ">
                <a href="#" class="text-base font-medium text-gray-900 hover:underline dark:text-white">{{product.name}}</a>
             <p class="text-muted-color">
               {{ product.desc?.substring(0, 20) }}
            </p>
<!-- 
                <div class="flex items-center gap-4">
                  <button type="button" class="inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-900 hover:underline dark:text-gray-400 dark:hover:text-white"  (click)="addToFavorites(product)">
                    <p-button 
                      [icon]="product.favorite ? 'pi pi-heart-fill': 'pi pi-heart' "
                      text
                      [outlined]="true"
                      styleClass="h-full"
                     >
                    </p-button>
                    Add to Favorites
                  </button>

                  <button type="button" class="inline-flex items-center text-sm font-medium text-red-600 hover:underline dark:text-red-500" (click)="remove(product ,index)">
                    <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>
                    Remove
                  </button>
                </div> -->
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      </div>

      <div class="min-w-[20rem]">
        
        <div class="space-y-4 mb-2 mt-5 bg-surface-100 rounded-lg border border-gray-200 p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6 xl:mt-0">
          <div class="space-y-4">
            <div>
              <label for="voucher" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"> Package Name </label>
                <input pInputText class="w-full" placeholder="Enter package name..." [(ngModel)]="packageName" [maxlength]="30" required>
            </div>
           
          </div>
        </div>

        
        <div class="space-y-4 mb-2 bg-surface-100 rounded-lg border border-gray-200 p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
          <div class="space-y-4">
            <div>
              <label for="voucher" class=" block mb-2 text-sm font-medium text-gray-900 dark:text-white"> Package Description </label>
              <textarea type="text" id="voucher" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" pInputText [(ngModel)]="notes" [maxlength]="250" placeholder="Write a Description..."  ></textarea>
            </div>
           
          </div>
        </div>

        <div class="space-y-4 mb-2 bg-surface-100 rounded-lg border border-gray-200 p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
          <div class="space-y-4">
            <div>
              <label for="voucher" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"> Total Price </label>
                <p-inputnumber class="w-full" [(ngModel)]="totalPrice" required [max]="total()" >
            </p-inputnumber>
            </div>
           
          </div>
        </div>

        <div class="mx-auto my-6  flex-1 space-y-6 lg:mt-0 lg:w-full">
          <div class="space-y-4 rounded-lg border border-gray-200 bg-surface-100 p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
            <p class="text-xl font-semibold text-gray-900 dark:text-white">Order summary</p>

            <div class="space-y-4">
              <div class="space-y-2">
                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Original price</dt>
                  <dd class="text-base font-medium text-gray-900 dark:text-white">{{total()}}</dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Discount</dt>
                  <dd class="text-base font-medium text-green-600">-{{total() - totalPrice}}</dd>
                </dl> 

                <!-- <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Store Pickup</dt>
                  <dd class="text-base font-medium text-gray-900 dark:text-white">$99</dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-base font-normal text-gray-500 dark:text-gray-400">Tax</dt>
                  <dd class="text-base font-medium text-gray-900 dark:text-white">$799</dd>
                </dl>  -->
              </div>

              <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
                <dt class="text-base font-bold text-gray-900 dark:text-white">Total</dt>
                <dd class="text-base font-bold text-gray-900 dark:text-white"> {{totalPrice ?? total()}} <span class="text-base ms-2 font-medium text-primary" > EGP</span> </dd>
              </dl>
            </div>

            <button *ngIf="!id" (click)="createPackage()" class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create Package</button>

            <button *ngIf="id" (click)="updatePackage()" class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Update Package</button>

          </div>

        
        </div>

      </div>
      
      
    </div>
  </div>
</section>

  <ng-template #emptyTemplate>
  <div class="flex flex-col items-center justify-center p-8 text-center mt-[10vh]">
    <!-- أيقونة تعجب كبيرة باللون الأحمر -->
   <svg xmlns="http://www.w3.org/2000/svg" 
        class="h-32 w-32 text-red-500 mb-4 animate-bounce" 
        style="animation-iteration-count: 2;" 
        fill="none" 
        viewBox="0 0 24 24" 
        stroke="currentColor" 
        stroke-width="2">
      <path stroke-linecap="round" 
            stroke-linejoin="round" 
            d="M12 9v4m0 4h.01M12 2a10 10 0 100 20 10 10 0 000-20z" />
    </svg>

    <!-- النص الرئيسي -->
    <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-2">There is no products yet</h2>
    <p class="text-gray-500 dark:text-gray-400">Please drag & drop some products to start</p>
  </div>
</ng-template>