<ng-container *ngIf="typeof control.value === 'string' && control.value; else uploadBlock">
  <a 
    [href]="getFileUrl()" 
    target="_blank" 
    class="text-blue-600 underline"
  >
    عرض الملف
  </a>
</ng-container>

<ng-template #uploadBlock>

   <label *ngIf="to.label" class="block mb-2 font-normal">
  {{ to.label }}
  <span *ngIf="to.required" class="text-[#f87171]" >*</span>
</label>
  
  <p-fileupload  #fileUploader name="demo[]"  (onSelect)="onUpload($event, fileUploader)" [multiple]="to['multiple']" accept="image/*" maxFileSize="100000000" [mode]="to['mode']">
    <ng-template #empty>
        <div>Drag and drop files to here to upload.</div>
    </ng-template>
    <div #content>
        <ul >
            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
        </ul>
    </div>
</p-fileupload>
</ng-template>

<div *ngIf="control?.invalid && control?.touched" class="text-red-400 text-sm mt-2 error-tip">
  <div *ngIf="control?.errors?.['required']">File is required.</div>
</div>






