*{
    h2{
        font-size: x-large;

    }
    h1{
        font-size: xx-large;
    }
}
tr{
    cursor: pointer;
    font-size: large;
}
 #center{
    margin-bottom: .5rem ;
}
// tr:nth-child(even):hover {
//   background-color: var(--p-surface-500);
//   color: white;
//   td{
//     color: white !important;
//   }
// }