<div class="flex flex-wrap gap-4 p-4">
  <p-card
    *ngFor="let item of items();let index = index"
    class="flex flex-row items-center w-full  p-4 shadow-md rounded-xl bg-surface-0 dark:bg-surface-900"
  >
    <div class="flex justify-between items-center gap-4">
        <div  class="flex items-center gap-4">
            <img
              [src]="item?.img ?? 'https://cdn1.iconfinder.com/data/icons/avatar-3/512/Doctor-512.png'"
              alt="avatar"
              class="w-20 h-20 rounded-full object-cover border border-gray-300"
            />
            <div >
                <p class="text-base text-gray-800 dark:text-muted-color !mb-0">{{ item?.name}}</p>
                <p class="text-base text-gray-800 dark:text-gray-200 mb-2">{{ item?.desc}}</p>
            </div>
        </div>

        <div class="flex gap-2">
            <p-button  severity="success" icon="pi pi-check" class="mr-2" [rounded]="true" [outlined]="true" (click)="onConfirm(item,index)"  />
            <p-button  icon="pi pi-times"  severity="danger" class="mr-2" [rounded]="true" [outlined]="true"  (click)="onCancel(item,index)" />
        </div>
    </div>
  </p-card>
</div>
   <p-confirmdialog [style]="{ width: '450px' }" />