*{
    h2{
        font-size: x-large;

    }
    h1{
        font-size: xx-large;
    }
}
 .container > div{
    background-color: transparent;
}
#details{
    padding: 0;
}
#finance{
    background-color: cadetblue;
    color: #a1a1aa;
    border-radius: 1rem;
}
  #center{
    margin-bottom: .5rem ;
}
::ng-deep h5{
  text-align: center;
}
.bg-transparent *{
    font-size: large;
}
