
<!-- doctor-details -->
<div class=" bg-transparent  mx-auto dark:bg-transparent">
  <div class="grid grid-cols-1 xl:grid-cols-5 ">
   
    <!-- Left: Details -->
    <div id="details" class="grid grid-cols-1  md:grid-cols-4 col-span-12 xl:col-span-3 card ">
        <!-- Right: Doctor Image -->
        <div class="h-full col-span-3 lg:col-span-2">
          <img
            src="../../../../assets/images/doctor.jpg"
            alt="صورة الدكتور"
            class="w-full h-full object-cover"
          />
        </div>
        <!-- Left: Doctor Info -->
        <div class="flex flex-col  p-8 my-5 gap-[1rem] col-span-3 lg:col-span-2">
          <h2 class="text-3xl font-bold">Dr. {{doctor?.name}}</h2>

          <p class="text-lg text-muted-color">
            <i class="pi pi-map-marker text-primary mr-2"></i>
            {{doctor?.address}}
          </p>

          <p class="text-lg text-muted-color">
            <i class="pi pi-phone text-primary mr-2"></i>
            {{doctor?.phone}}
          </p>

          <!-- Working Hours -->
          <div class="bg-gray-50  bg-transparent">
            <p class="text-md font-semibold text-muted-color mb-2">
              <i class="pi pi-clock text-primary mr-2"></i>
              Working Hours:
            </p>
            <ul class=" text-sm list-disc pl-5 space-y-1 ">
              <li>Sunday - Thursday: 9:00 AM - 5:00 PM</li>
              <!-- <li>Friday & Saturday: Closed</li> -->
            </ul>
          </div>
        </div>
    </div>

     <div class="col-span-12 xl:col-span-1" ></div>

     <!-- Right: financial -->
     <div class=" mt-10 col-span-12 xl:col-span-1">
   
    <div class="card flow-root" id="finance">
      <div class="-my-3 divide-y divide-gray-200 dark:divide-gray-800">
        <dl class="flex items-center justify-between gap-4 py-3">
          <dt class="text-base font-normal text-black">Total</dt>
          <dd class="text-base font-medium text-black">{{doctor?.total}}  </dd>
        </dl>

        <dl class="flex items-center justify-between gap-4 py-3">
          <dt class="text-base font-normal text-black">Paid</dt>
          <dd class="text-base font-medium text-black">{{doctor?.paid}} </dd>
        </dl>

        <dl class="flex items-center justify-between gap-4 py-3">
          <dt class="text-base font-bold text-black">Remaining</dt>
          <dd class="text-base font-bold text-black">{{doctor?.remaining}} EGP</dd>
        </dl>
      </div>
    </div>

    

    </div>

  </div>
</div>
<!-- doctor-details -->

<!-- orders-details -->
<div class="text-center my-[3rem]"><h2 class="text-surface-900 dark:text-surface-0 font-normal mb-2 ">Orders Table</h2>
<span class="text-muted-color ">All recent Orders and Order records...</span>
</div>
<app-orders [filter]="filter"></app-orders>
<!-- orders-details -->

<!-- payments-details -->
<div class="text-center my-[3rem]"><h2 class="text-surface-900 dark:text-surface-0 font-normal mb-2 ">Payments Table</h2>
<span class="text-muted-color ">All recent transactions and payment records...</span>
</div>
<app-payments  [filter]="filter"></app-payments>
<!-- payments-details -->



