p{
    margin-top: 1rem;
    left: 21%;
}
::ng-deep  .custom-otp-input {
    width: 40px;
    font-size: 36px;
    border: 0 none;
    appearance: none;
    text-align: center;
    transition: all 0.2s;
    background: transparent;
    border-bottom: 2px solid var(--p-surface-600);
    border-radius: 0px;
}

::ng-deep .custom-otp-input:focus {
    outline: 0 none;
    border-bottom-color: var(--p-primary-color);
}
::ng-deep .p-inputotp {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
}
