:root {
  // White
  --white-100: #ffffff;
  --white-200: #f4f4f4;
  --white-300: #f8f8f8;
  --white-400: #e8e0e0;
  // Light-blue
  --light-blue-50: #0070c4;
  --light-blue-100: #1e6fad;
  --light-blue-200: #045fa4;
  --light-blue-300: #02a3bc;
  --light-blue-400: #007bff;
  // Dark-blue
  --dark-blue-100: #1e3340;
  // Red
  --red-100: #ff0000;
  // Yellow
  --yellow-50: #dfb50b;
  // light-Green
  --light-green: #00a5c4;
  //green
  --green: #8ec63f;
  // Grey
  --grey: #6c757d;
  --grey-100: #9f9f9f;
  --grey-200: #00000029;
  --grey-300: #707070;
  --grey-400: #1e3340;
  --grey-500: #757171;

  --bg-content : #18181b;
}
