 <div class="grid grid-cols-12 gap-8">
            <app-stats-widget class="contents" [stats]="data"/>
            <div class="col-span-12 xl:col-span-6 ">
                <app-recent-sales-widget />
                <app-best-selling-widget [products]="data?.top_products"/>
            </div>
            <div class="col-span-12 xl:col-span-6 " >
                <app-revenue-stream-widget />
               <div class="h-125 overflow-y-auto rounded-xl col-span-6 ">
                   <app-notifications-widget />
                </div>
            </div>
        </div>